$gooblue:#3369E8;
$goored:#D50F25;
$gooyellow:#EEB211;
$googreen:#009925;

p {
    margin-left: 8%;
    margin-top: 30%;
    font-size: 200%;
}

.gooblue {
    color: $gooblue;
}

.goored {
    color: $goored;
}

.gooyellow {
    color: $gooyellow;
}

.googreen {
    color: $googreen;
}