.form-control {
    border: 0;
    border-radius: 50px
}

.btn-outline-warning {
   background-color: #007Bff;
   border-radius: 5px;
}

.btn-outline-warning:hover {
    background-color: #FFC10F;
}

